h1 #{title}
h2 Code Samurai

section#links
  ul.list
    li
      a(href='http://bendyworks.com') Bendyworks
    li
      a(href='https://github.com/jaym3s') Github
    li
      a(href='/rails') Ruby on Rails
    li
      a(href='/ios') iOS

footer
  p &copy; 2012 Jaymes Waters
  p This page is a work in progress
