header
  h1 #{title}

section#links
  dl.list
    dt Code Samurai
    dd
      a(href='http://bendyworks.com') Bendyworks
    dd
      a(href='https://github.com/jaym3s') Github
    dd
      a(href='/rails') Ruby on Rails
    dd
      a(href='/ios') iOS

footer
  p A work in progress | &copy; 2012 Jaymes Waters
