header
  h1 #{title}

section#links
  dl.list
    dt Developer
    dd
      a(href='https://github.com/jaym3s') Github
    dd
      a(href='http://www.linkedin.com/in/jaymeswaters') LinkedIn

footer
  p A work in progress | &copy; 2014 Jaymes Waters
