h1 #{title}
h2 Code Samurai

section#skills
  h3 Professions
    p iOS
    p Ruby on Rails

section#links
  h3 Links
    p
      span my workplace - 
      a(href='http://bendyworks.com') Bendyworks

    p
      span my public work - 
      a(href='https://github.com/jaym3s') Github

footer
  p This page is a work in progress
