!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.6.2.min.js')
    script(src='/javascripts/tree.js')
    script(src='/javascripts/canvas_grid.js')
    script(src='/javascripts/app.js')
  body!= body

